.profile__edit-button {
  width: 24px;
  height: 24px;
  margin: 0 0 0 18px;
}
@media  screen and (max-width: 380px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}
