.profile__caption {
  margin: 16px 0 0;
  padding: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
@media  screen and (max-width: 1100px) {
  .profile__caption {
    text-align: center;
  }
}
@media  screen and (max-width: 380px) {
  .profile__caption {
    font-size: 14px;
    line-height: 17px;
    margin: 14px 0 0;
  }
}
